//colors
$main-color: #50c3af;
$main-color-darken: darken($main-color, 10%);
$secondary-color: #d2d5da;
$secondary-color-darken: darken($secondary-color, 10%);
$title-color: #40474e;
$text-color: #787b80;
$back-color: #eeeeef;